<div class="row">
    <div class="col-sm-3">
        <button class="btn btn-primary btn-lg d-flex mx-auto">Buy Now</button>
    </div>

    <div class="col-sm-9">
        <h2>{{course.name}}</h2>
        <div>
            <iframe class="my-4" style="width: 100%; height: 300px;"
                src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
        <p>{{course.description}}</p>
    </div>
</div>